@using Microsoft.AspNetCore.Identity
@inject SignInManager<ResearchTubeUser> SignInManager
@inject UserManager<ResearchTubeUser> UserManager

@{
    var user = await UserManager.GetUserAsync(User);
}
<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item dropdown">
            <a class="nav-link text-light dropdown-toggle" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><div id="user-button">@(user.FirstName.Substring(0,1))@(user.LastName.Substring(0,1))</div></a>
            <div class="dropdown-menu">
                <form class="dropdown-item form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <button type="submit" class="nav-link btn btn-link">Logout</button>
                </form>
                <a href="#" class="nav-link dropdown-item">&nbsp&nbsp&nbsp&nbsp&nbsp    Profile</a>
            </div>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-light dropdown-toggle" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>

<link rel="stylesheet" href="~/css/login-partial.css" />
