@inject SignInManager<ResearchTubeUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}

<ul class="nav nav-pills">
    <li class="active"><a class="nav-link @ProfileNav.HomeNavClass(ViewContext)" id="home" asp-page="./ProfileHome">Home</a></li>
    <li><a class="nav-link @ProfileNav.ProfileNavClass(ViewContext)" id="profile" asp-page="./Index">Profile</a></li>
    <li><a class="nav-link @ProfileNav.SettingsNavClass(ViewContext)" id="setting" asp-page="/Account/Manage/Email">Settings</a></li>
    <li><a class="nav-link @ProfileNav.VideoLibraryNavClass(ViewContext)" id="videolibrary" asp-page="./Library">VideoLibrary</a></li>
</ul>