@page
@model ResearchTube.Areas.Identity.Pages.Account.Manage.LibraryModel
@{
    ViewData["Title"] = "Library";
    ViewData["ActivePage"] = ProfileNav.VideoLibrary;
}
<h4>@ViewData["Title"]</h4>
<hr class="featurette-divider">
<div class="columns">
    <div class="col-md-12">
        <form id="library-form">
            <div class="row">
                <div class="col-md-5">
                    <image class="rounded-2" style="width:300px; height:250px" src="/image/mountain.jfif" asp-append-version="true"></image>
                </div>
                <div class="col-md-1">
                    <image class="rounded-circle" style="width:50px; height:50px" src="/image/mountain.jfif" asp-append-version="true"></image>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="form-control">Title</label>
                        <br />
                        <label class="form-control">Name</label>
                        <br />
                        <div class="row">
                            <div class="col-md-6">
                                <label class="form-control">number of view</label>
                            </div>
                            <div class="col-md-6">
                                <label class="form-control">date created</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <br />
    <div class="col-md-12">
        <form id="library-form">
            <div class="row">
                <div class="col-md-5">
                    <image class="rounded-2" style="width:300px; height:250px" src="/image/mountain.jfif" asp-append-version="true"></image>
                </div>
                <div class="col-md-1">
                    <image class="rounded-circle" style="width:50px; height:50px" src="/image/mountain.jfif" asp-append-version="true"></image>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="form-control">Title</label>
                        <br />
                        <label class="form-control">Name</label>
                        <br />
                        <div class="row">
                            <div class="col-md-6">
                                <label class="form-control">number of view</label>
                            </div>
                            <div class="col-md-6">
                                <label class="form-control">date created</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-12">
        <form id="library-form">
            <div class="row">
                <div class="col-md-5">
                    <image class="rounded-2" style="width:300px; height:250px" src="/image/mountain.jfif" asp-append-version="true"></image>
                </div>
                <div class="col-md-1">
                    <image class="rounded-circle" style="width:50px; height:50px" src="/image/mountain.jfif" asp-append-version="true"></image>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="form-control">Title</label>
                        <br />
                        <label class="form-control">Name</label>
                        <br />
                        <div class="row">
                            <div class="col-md-6">
                                <label class="form-control">number of view</label>
                            </div>
                            <div class="col-md-6">
                                <label class="form-control">date created</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-12">
        <form id="library-form">
            <div class="row">
                <div class="col-md-5">
                    <image class="rounded-2" style="width:300px; height:250px" src="/image/mountain.jfif" asp-append-version="true"></image>
                </div>
                <div class="col-md-1">
                    <image class="rounded-circle" style="width:50px; height:50px" src="/image/mountain.jfif" asp-append-version="true"></image>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="form-control">Title</label>
                        <br />
                        <label class="form-control">Name</label>
                        <br />
                        <div class="row">
                            <div class="col-md-6">
                                <label class="form-control">number of view</label>
                            </div>
                            <div class="col-md-6">
                                <label class="form-control">date created</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}