@using Microsoft.AspNetCore.Identity
@inject SignInManager<ResearchTubeUser> SignInManager
@inject UserManager<ResearchTubeUser> UserManager

@{
    ViewData["Title"] = "Home Page";
    var user = await UserManager.GetUserAsync(User);

}
<html>
    <head>
        
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/index.css" />

    </head>

    <body>
    @if (SignInManager.IsSignedIn(User)){
        //Here will go new Home Page (Signed IN)
        <h1>Signed In</h1>
        <h2>Recommended for @user.FirstName</h2>

    }
    else{
        //Here will go old Home Page (Signed OUT) || may change if using different controller potentially

        <h1>Signed Out now</h1>
    }

    </body>

