html,
body {
  margin: 0px;
  padding: 0px;
}

#menu {
  position: relative;
  width: 100%;
  background: #708090;
  height: 50px;
}

.category {
  display: inline-block;
  list-style: none;
  font-size: 16px;
  margin-top: 11px;
}
a {
  color: white;
  text-align: center;
  text-decoration: none;
}

a:hover {
  color: #dcdcdc;
}

#left {
  padding-left: 1em;
  width: 60%;
  float: left;
  margin-bottom: 5em;
}

#right {
  padding-left: 10px;
  float: right;
  width: 40%;
  background-color: lightgrey;
}

#titleAndDesc {
  list-style: none;
}
@media only screen and (max-width: 600px) {
  #left,
  #right {
    width: 100%;
  }
}

